:root {
	--font-size-main: 0.906rem; /* 14.5px */
	--font-size-second: 0.688rem; /* 11px */

	--color-main: rgba(0, 0, 0, 0.8);
	--border-main: rgba(0, 0, 0, 0.6);
	--border-shorthand: 0.063rem solid rgba(0, 0, 0, 0.6);

	/* Button */
	--button-hover-backround: rgba(0, 0, 0, 0.8);
	--button-hover-color: rgba(255, 255, 255, 0.9);
	--font-size-button: 0.769rem; /* 12.3px */

	--unit-one: 0.438rem; /* 7px */
	--unit-two: 0.75rem; /* 12px */

	--tile-color: white;
	--tile-color-secondary: rgba(0, 0, 0, 0.7);
}

*, *::before, *::after {
	color: var(--color-main);
	box-sizing: border-box;
}

body { /* Left & right spacing is left & right from default body margin + 12px */
	height: 100vh;
	margin-top: 0;
	margin-bottom: 0;
	padding: var(--unit-two);
	font-size: var(--font-size-main);
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100% - 9vh);
	max-width: 300px;
	margin: 4.5vh auto;
	text-align: center;
}

/* Digital Clock / Top Part */

.__clock-digital {
	display: flex;
	justify-content: space-between;
	border: var(--border-shorthand);
	border-bottom: 0;
	border-radius: 2px 2px 0 0;
	padding: var(--unit-one) var(--unit-two);

	position: relative;
}

._time-format {
	position: absolute;
	top: -18px;
	left: 0;
}

._time-format span {
	font-size: var(--font-size-second);
	opacity: 0.6;
	cursor: pointer;
}

._time-format span:hover {
	opacity: 1;
	text-decoration: underline;
}

._hour-minute-second .offset_ {
	font-size: var(--font-size-second);
}

/* Analog Clock */

.__clock-analog {
	border: var(--border-shorthand);
	height: 50vh;
	max-height: 300px;
	padding: var(--unit-two);

	position: relative;
}

._circle {
	height: 100%;

	position: relative;
}

._circle .middle {
	background: rgba(0, 0, 0, 0.8);
	border-radius: 50%;
	width: 10px;
	height: 10px;
	z-index: 3;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

._circle .hand {
	width: 50%;

	position: absolute;
	top: 50%;
	transform-origin: 100%;
	transform: translateY(-50%);
}

._circle .hour-hand {
	background: rgba(0, 0, 0, 0.8);
	border-radius: 50% 0 0 50%;
	width: 45%;
	height: 4px;
	transition: all 1s cubic-bezier(0.33, 1.4, 0.58, 1);

	left: 5%;
}

._circle .minute-hand {
	background: rgba(0, 0, 0, 0.8);
	border-radius: 50% 0 0 50%;
	height: 3px;
	transition: all 0.8s cubic-bezier(0.33, 1.4, 0.58, 1);
}

._circle .second-hand {
	background: rgba(255, 0, 0, 0.4);
	height: 2px;
	transition: all 0.2s cubic-bezier(0.32, 1.71, 0.58, 1);
	z-index: 2;
}

.__select-time select {
	border: 1px solid var(--border-main);
	border-top: none;
	border-bottom: none;
	width: 100%;
	padding: var(--unit-one) var(--unit-two);
	font-size: var(--font-size-button);
	font-style: italic;
}

.__select-time select:focus {
	outline: none;
}

.__select-time select option {
	font-size: var(--font-size-second);
}

.__select-time button {
	background: none;
	border: 1px solid var(--border-main);
	width: 100%;
	padding: var(--unit-one) var(--unit-two);
	font-size: var(--font-size-button);
	cursor: pointer;
}

.__select-time button:hover {
	background: var(--button-hover-backround);
	color: var(--button-hover-color);
}

.__notice {
	color: var(--color-main);
	padding: 0 var(--unit-two);
	margin-top: 9.715px;
	font-size: var(--font-size-second);
}

.__notice a {
	font-size: var(--font-size-second);
}

/* Extra */

._daylight-saving {
	width: 21px;
	padding: 3px;
	opacity: 0.6;
	cursor: default;
	transition: all 0.5s;

	position: absolute;
	top: 5px;
	left: 8px;
}

._current-day {
	width: 21px;
	padding: 3px;
	text-decoration: underline;
	cursor: default;

	position: absolute;
	bottom: 5px;
	left: 8px;
}

.selected-format {
	opacity: 1 !important;
}